  
h1 {
    text-align: center;
    font-size: 2cm;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #ffcb00;
    border-style: solid;
    border-width: 10px;
    border-color: #ffcb00;
}

h3{
    text-align: center;
    font-size: 0.7cm;
    border-style: solid;
    border-width: 10px;
    border-color: #ffcb00;
    width: 15cm;   
}
#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20cm;
    height: 4cm;
}

.form-inline {
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
}


#alinea{
    justify-content: center;
}

